/* CSS Reset */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Default styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #1e1e1e;
}

h1 {
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

/* name title */
.nametitle {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

/* top bar */
.topbar {
    display: flex;
    background-color: #3c3c3c;
    width: 100%;
    max-width: 100%;
}

/* container */
.container {
    display: flex;
}

.far-left-sidebar {
    width: 10%;
    background-color: #333333;
}

.left-sidebar {
    width: 20%;
    background-color: #252526;
}

.right-sidebar {
    width: 70%;
}

.sidebar-button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    width: 40px;
    height: 40px;
}
