/* CSS Reset */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-weight: 200;
}

/* Default styles */
body {
    background-color: #1e1e1e;
    font-family: Lato;
    font-size: 1em;
    line-height: 1.5;
}

h1 {
    color: white;
    font-family: Montserrat;
    font-size: 2em;
    margin-bottom: 1.5em;
}

h2,
h3 {
    color: white;
    font-family: Montserrat;
}

p {
    color: white;
    font-family: Consolas;
    font-size: 1em;
}

header {
    height: 4.5vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}




/* top bar */
.topbar {
    align-items: center;
    background-color: #3c3c3c;
    color: white;
    display: flex;
    font-family: Lato;
    font-size: 1em;
    font-weight: normal;
    height: 4.5vh;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.topbarLeft {
    color: #6e6e6e;
    font-size: .7em;
    padding: 1em;
    position: absolute;
    text-align: left;
}

.topbarRight {
    align-items: center;
    justify-content: center;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/* container */
.container {
    display: flex;
    font-family: Consolas;
}

.left-sidebar {
    background-color: #333333;
    font-weight: 100;
    height: 100vh;
    position: fixed;
    top: 4.5vh;
    width: 4vw;
}

.menu-sidebar {
    background-color: #252526;
    display: block;
    height: 100vh;
    left: 4vw;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 4.5vh;
    transition: all 0.3s ease;
    width: 0vw;
    z-index: 1;
}

.right-sidebar {
    box-sizing: border-box;
    height: 100vh;
    left: 4vw;
    overflow-y: scroll;
    /* padding: 5em; */
    padding-bottom: 10em;
    padding-top: 3em;
    position: fixed;
    top: 4.5vh;
    transition: all 0.3s ease;
    width: 96vw;
}

.right-sidebar.collapsed {
    left: 50vw;
    width: 81vw;
}

.folders {
    color: white;
    font-weight: 200;
    font-size: 0.8em;
    margin: 1vw;
    position: absolute;
    text-align: left;
}


/* buttons */
.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    height: auto;
    padding: 0;
    transform: translateY(40%);
    width: 100%;
}

.menuImg {
    height: auto;
    opacity: 70%;
    width: 40%;
}

.menuImg:hover {
    cursor: pointer;
}

.collapsible {
    align-items: left;
    background-color: #1e1e1e00;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Consolas;
    font-size: 1em;
    justify-content: left;
    padding: 0.7em;
    padding-left: 2em;
    text-align: left;
    width: 100%;
}

.content {
    color: white;
    display: none;
    font-family: Consolas;
    font-size: 1em;
    line-height: 2;
    padding-bottom: 0.5em;
    padding-left: 2.7em;
    padding-top: 0.5em;
    width: 100%;
}


/* images */
.iconImg {
    height: auto;
    max-height: 1em;
    max-width: 1em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    transform: translateY(10%);
    width: 1em;
}


/* misc */
.bar-left {
    color: white;
    font-weight: 200;
    font-size: 0.7em;
    text-align: left;
    margin: 1vw;
    position: absolute;
}

.bar-right {
    align-items: right;
    color: white;
    font-size: 0.7em;
    font-weight: 200;
    justify-content: right;
    margin: 1vw;
    position: absolute;
    text-align: right;
    width: 11vw;
    z-index: 1;
}

.progress-bar-container {
    /* position: absolute; */
    width: 100%;
    height: 5px;
    background-color: #ccc;
    /* bottom: 0;

    left: 4vw; */
    overflow-y: scroll;
    
    position: fixed;
    top: 4.5vh;
    transition: all 0.3s ease;
    /* width: 96vw; */
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    width: 0;
    transition: width 0.3s;
}



/* name title */
/* .nametitle {
    color: white;
    margin-bottom: 5vh;
} */