/* footer */
footer {
    background-color: #3c4043;
    color: #ffffff;
    padding: 0.5em;
    text-align: center;
}

/* nav bar */
.navbar {
    height: 10vh;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

/* nav bar item spacing */
.navbar-nav .nav-link {
    margin-right: 20px;
}

/* nav bar dropdown */
.custom-dropdown {
    z-index: 1000;
}

/* nav bar desktop hovering effect */
@media (min-width: 992px) { /* adjust breakpoint if needed */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* content container spacer */
.spacer {
    margin-top: 15vh;
}

/* update or delete website status */
.website-status p {
    margin: 0;
}

/* pfp container */
.circular-container {
    width: 10em; /* Set the desired width in em */
    height: 10em; /* Set the desired height in em */
    border-radius: 50%; /* Makes it a circle */
    margin: 0 auto; /* Center the circular container horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* gallery controls */
.carousel-control-prev,
.carousel-control-next {
    top: 50%; /* center vertically within container */
    transform: translateY(-50%); /* adjust vertical position */
    color: black; /* set arrow color to black */
}

/* button */
.custom-button {
    background-color: #33ae87;
    border: none;
    color: white;
    filter: brightness(100%);
    padding: 10px;
    transition: background-color 0.3s;
}

/* button hover */
.custom-button:hover {
    background-color: #2a966f;
}

/* button click */
.custom-button:active {
    background-color: #1f724e;
    outline: none;
}

.custom-button.clicked {
    background-color: #2a966f;
}

/* skill card body */
.card-body {
    align-items: center;
    justify-content: center;
}


/* button */
/* button {
    position: relative;
    background: #202124;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  } */
  
  /* button:hover {
    letter-spacing: 0.2rem;
    padding: 1rem 3rem;
    background: var(--clr);
    color: var(--clr);
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #3c4043;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #3c4043;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #3c4043;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  } */



  /* old code */
  /* body,
ul {
    color: white;
    background-color: #202124;
    font-family: "M PLUS Rounded 1c";
    margin: 0;
    padding: 0;
}

header {
    background-color: #3c40438a;
    padding: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
} */

/* header-under {
    background-color: #3c40438a;
    filter: blur(5px);
    padding: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
} */

/* footer {
    background-color: #3c4043;
    color: #ffffff;
    padding: 0.5em;
    text-align: center;
}

h1,
h2 {
    color: #42c38d;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

.right-container {
    flex: 1;
    padding: 1em;
    text-align: center;
}

.left-container {
    flex: 1;
    padding: 1em;
    text-align: left;
}

.center-container {
    padding: 1em;
    text-align: center;
} */

/* navigation */
/* nav {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 0.5em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em;
}

nav ul li a:hover {
    background-color: #3c4043;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-left: 0.5em;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 1em;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 4px;
} */

/* Media query for small screens */
/* @media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
} */