    <!-- Computer Science Courses -->
    <div class="container" style="margin-top: 10vh;">
        <h3>COMPUTER SCIENCE COURSES</h3>

        <!-- Computer Science Courses Container -->
        <div class="container-fluid d-flex flex-wrap align-items-center mb-5" style="max-width: 95%; margin: 0 auto;">

            <!-- Course 1 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">FALL 2023</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 426: Computer Vision</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                An introduction to basic concepts and techniques in computervision. This includes low-level operations 
                                such as image filtering and edge detection, 3D reconstruction of scenes using stereo and structure from 
                                motion, and object detection, recognition and classification.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 2 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">FALL 2023</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 425: Game Programming</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                An introduction to the principles and practice of computer game programming and design. This includes an introduction 
                                to game hardware and systems, the principles of game design, object and terrain modeling, game physics, artificial 
                                intelligence for games, networking for games, rendering and animation, and aural rendering. Course topics are 
                                reinforced through the design and implementation of a working computer game.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 3 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">SPRING 2023</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 416: Introduction to Parallel Computing</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                Topics include programming for shared memory and distributed memory parallel architectures, and fundamental 
                                issues in design, development, and performance analysis of parallel programs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 4 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">SPRING 2023</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 420: Advanced Data Structures</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                Description, properties, and storage allocation functions of data structures including balanced binary trees, 
                                B-Trees, hash tables, skiplists, tries, KD-Trees and Quadtrees. Algorithms for manipulating structures. 
                                Applications from areas such as String Processing, Computer Graphics, Information Retrieval, Computer Networks, 
                                Computer Vision, and Operating Systems.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 5 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">FALL 2022</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 335: Web Application Development with JavaScript</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                Provides an introduction to modern ways of developing Web Applications/Services using JavaScript for both front-end and 
                                back-end. The course covers topics on fundamental JavaScript language constructs, server-side JavaScript, back-end data 
                                persistence, and client-side JavaScript to build Web Applications that interact with Web services and back-end databases.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 6 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">SPRING 2022</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 414: Computer and Network Security</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                An introduction to the topic of security in the context of computer systems and networks. Identify, analyze, 
                                and solve network-related security problems in computer systems. Fundamentals of number theory, authentication, 
                                and encryption technologies, as well as the practical problems that have to be solved in order to make those 
                                technologies workable in a networked environment, particularly in the wide-area Internet environment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 7 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">SPRING 2022</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 436: Programming Handheld Systems</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                Fundamental principles and concepts that underlie the programming of handheld systems, such as mobile phones, 
                                personal digital assistants, and tablet computers. Particular emphasis will be placed on concepts such as 
                                limited display size, power, memory and CPU speed; and new input modalities, where handheld systems differ 
                                substantially from non-handheld systems, and thus require special programming tools and approaches.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 8 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">FALL 2021</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 351: Algorithms</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                A systematic study of the complexity of some elementary algorithms related to sorting, graphs and trees, 
                                and combinatorics. Algorithms are analyzed using mathematical techniques to solve recurrences and summations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 9 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">FALL 2021</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 330: Organization of Programming Languages</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                A study of programming languages, including their syntax, semantics, and implementation. Several different models 
                                of languages are discussed, including dynamic, scripting (e.g., Ruby, Python) functional (e.g., OCaml, Haskell, Scheme), 
                                and memory safe systems programming (e.g., Rust). Explores language features such as formal syntax, scoping and binding 
                                of variables, higher-order programming, typing, and type polymorphism.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 10 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <p style="color:#33ae87; margin-bottom: 0.5rem;">SPRING 2021</p>
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">CMSC 216: Introduction to Computer Systems</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                Introduction to the interaction between user programs and the operating system/hardware. Major topics include C 
                                programming, introductory systems programming, and assembly language. Other concepts covered include UNIX, 
                                machine data representation, thread management, optimization, and virtual memory.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course 11 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/mc.png" alt="MC Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">Discrete Structures</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">Montgomery College - Rockville, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                An introduction to discrete structures as they relate to computer science. The course will stress computer science applications and will include relations, functions and algorithms, Naive Set Theory, combinatorics, logic, and mathematical induction.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Course 12 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/mc.png" alt="MC Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">Visual Programming with C#</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">Montgomery College - Rockville, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                Concerns with writing programs for the Windows programming environment, including developing an application, tools, forms, the user interface, programming, built-in functions, procedures, arrays, records, testing, and debugging. Emphasis is on rapid development of useful applications.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Course 13 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/mc.png" alt="MC Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">Java 1 & 2</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">Montgomery College - Rockville, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                Fundamental computer concepts. Studies methods of object-oriented program development and design. The course also covers language systems and semantics, structured program verification, different language paradigms, and documentation techniques.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Course 14 -->
            <div class="education-card">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12" style="padding: 0;">
                            <img src="images/education/mc.png" alt="MC Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                        </div>
                        <div class="col-md-9 col-12" style="text-align: left; padding: 1rem;">
                            <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">Programming with C++</h5>
                            <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">Montgomery College - Rockville, MD</p>
                            <p style="margin-top: 0; line-height: 1.5;">
                                Introduces C++ syntax and programming techniques such as decisions, loops, arrays, pointers, functions, and file processing. Covers object-oriented concepts such as data abstraction, classes, objects, overloading, and inheritance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add more courses here -->
        </div>
    </div>
