<!-- Education -->
<div class="container fade-container" style="margin-top: 10vh;">
    <h3>EDUCATION</h3>

    <!-- Education Section Container -->
    <div class="container-fluid d-flex flex-wrap align-items-center mb-5" style="max-width: 95%; margin: 0 auto;">
        
        <!-- UMD -->
        <div class="education-card">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- First container (Image - 30% Width on large, full-width on small) -->
                    <div class="col-md-3 col-12 d-flex justify-content-center align-items-center" style="padding: 0;">
                        <img src="images/education/umd.png" alt="UMD Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                    </div>
                    <!-- Second container (Text - 70% Width on large, full-width on small) -->
                    <div class="col-md-9 col-12 d-flex flex-column justify-content-center" style="text-align: left; padding: 1rem;">
                        <p style="color:#33ae87; margin-bottom: 0.5rem;">JAN 2021 - MAY 2024</p>
                        <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">University of Maryland - College Park</h5>
                        <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">GPA: 3.2</p>
                        <p style="margin-top: 0; line-height: 1.5;">B.S. in Computer Science & Minor in Astronomy</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- MC -->
        <div class="education-card" style="background-color: #2d2d2d; border-radius: 50px; overflow: hidden; margin-bottom: 2rem;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- First container (Image - 30% Width on large, full-width on small) -->
                    <div class="col-md-3 col-12 d-flex justify-content-center align-items-center" style="padding: 0;">
                        <img src="images/education/mc.png" alt="MC Logo" class="education-img" style="padding: 1rem; border-radius: 50px; width: 100%; height: auto;">
                    </div>
                    <!-- Second container (Text - 70% Width on large, full-width on small) -->
                    <div class="col-md-9 col-12 d-flex flex-column justify-content-center" style="text-align: left; padding: 1rem;">
                        <p style="color:#33ae87; margin-bottom: 0.5rem;">AUG 2018 - DEC 2020</p>
                        <h5 style="color: white; margin-top: 0; margin-bottom: 0.5rem;">Montgomery College - Rockville, MD</h5>
                        <p style="color: #a0a0a0; margin-top: 0; margin-bottom: 0.5rem;">GPA: 3.4</p>
                        <p style="margin-top: 0; line-height: 1.5;">A.A. in Computer Science</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add more education here -->
    </div>
</div>
